body {
color: black;
background-color: grey;
font-size: 14pt;
font-family; Veranda;
}


h1 { font-style: italic; font-weight: bold; font-size: 40pt; text-align: center;}
#info {font-size: 15pt; text-align: center;}

.footer { font-size:11pt; text-align:center; line-height:12pt; padding-top:30pt; }

.famphoto {
		float:left;
		border:2px solid white;
		padding-top:15px;
		padding-right:15px;
		padding-left:15px;
		padding-bottom:60px;
		margin-right:20px;
		margin-bottom:10px; 
		margin-left:10px;
		background-color:#fff
		-moz-box-shadow: 1px 1px 3px #222;
		-moz-transform: rotate(-5deg);
		-webkit-box-shadow: 1px 1px 3px #222;
		-webkit-transform: rotate(-5deg);
		box-shadow: 1px 1px 3px #222;
		-o-transform: rotate(-5deg);
		transform: rotate(-5deg);
		}
		
.hockeyphoto {
		float:right;
		border:2px solid white;
		padding-top:15px;
		padding-right:15px;
		padding-left:15px;
		padding-bottom:60px;
		margin-right:20px;
		margin-bottom:10px; 
		margin-left:30px;
		background-color:#fff
		-moz-box-shadow: 1px 1px 3px #222;
		-moz-transform: rotate(+5deg);
		-webkit-box-shadow: 1px 1px 3px #222;
		-webkit-transform: rotate(+5deg);
		box-shadow: 1px 1px 3px #222;
		-o-transform: rotate(+5deg);
		transform: rotate(+5deg);}
		

		
#nav { background:white; padding:5px 5px; text-align:center; border: 5px solid black; }
#nav li  { display: inline; list-style-type: none; padding-right: 15px; font-size: 20pt; font-weight:bold; font-variant:small-caps;}
